<!-- Second Band (Image Left with Text) -->
<div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/yoga/yoga9.jpg" width="1000" height="300" alt="Yoga">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/bagua/bagua3.jpg" width="150" height="146" alt="Bagua Zhang Kung Fu">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Everything flows, nothing stands still - </b>Heraclitus of Ephesus</b></h5>
      </p>       
      <p>
        At Mukti movement we provide systematic instruction to help motivated individuals to attain an understanding of their movement potential through the vehicles of Yoga, Qigong and the martial art of Ba Gua Zhang Kung Fu. 
      </p> 
    </div>
  </div>
</div> 
<div class="row">
  <div class="large-12 columns">
    <p>
      The word "Mukti" is derived from the Sanskrit root word Mukt and has various meanings which include liberation and freedom, release or salvation. Classes are offered in various Eastern mind / body practices which include Hatha, Vinyasa and Ashtanga yoga, Qigong and Ba Gua Zhang Kung Fu.
    </p>
    <p>
      For further information, please read more about the <a href="#/yoga">Yoga</a> and <a href="#/bagua">Kung Fu</a> that we teach. You can also follow us on our <a href="http://baguakungfu.wordpress.com/" target="_blank">blog</a>
    </p>   
  </div>
</div>
