<!-- 
   <div class="row">
    <div class="large-12 columns">
      <img src="./assets/img/landscape/landscape4.jpg" width="1000" height="300" alt="Bagua Kung Fu">
      <hr>
    </div>
  </div>
  <div class="row">
    <p>
      <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
      <h5><b>Stop acting so small. You are the universe in ecstatic motion.</b> - Rumi</h5>
    </p> 
    <table>
      <tr>
        <th scope="column">Contact details for Ashtanga, Hatha and Vinyasa Yoga</th>
        <th scope="column">Contact details for the martial art of Bagua Zhang Kung Fu</th>
      </tr>
      <tr>
        <td valign="top">
          <span itemscope itemtype="http://schema.org/LocalBusiness">
            <div itemscope itemtype="http://schema.org/ContactPoint"> 
                <list itemscope itemtype="schema.org/ContactPoint"> 
                    <li class='none' itemprop="telephone">Tel: +27 82 572 9873 (Nicky)</li> 
                    <li class='none' itemprop="email">Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for yoga" target="_blank" class="underline">movement@mukti.co.za</a></li> 
                </list>
            </div> 
        </span>  
        </td>
        <td valign="top">
          <span itemscope itemtype="http://schema.org/LocalBusiness">
            <div itemscope itemtype="http://schema.org/ContactPoint"> 
                <list itemscope itemtype="schema.org/ContactPoint"> 
                    <li class='none' itemprop="telephone">Tel: +27 82 501 7190 (Paul)</li> 
                    <li class='none' itemprop="email">Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for bagua zhang kung fu martial art" target="_blank" class="underline">movement@mukti.co.za</a></li> 
                </list>
            </div> 
        </span>
        </td>
      </tr>
      <tr>
        <td valign="top" scope="row">
          <b>Mukti Yoga @ Positive Health</b>
          <div itemscope itemtype="http://schema.org/ContactPoint"> 
            <list itemprop="address" itemscope itemtype="schema.org/PostalAddress"> 
              <li class='none' itemprop="streetAddress">5 Claribel Road, Windermere</li> 
              <li class='none' itemprop="addressLocality">Durban</li> 
              <li class='none' itemprop="postalCode">4001</li> 
              <li class='none' itemprop="addressCountry">South Africa</li> 
            </list>
        </div>
        </td>
        <td valign="top" scope="row">
        <b>Mukti Bagua Zhang Kung Fu @ Gordon Road</b>
        <div itemscope itemtype="http://schema.org/ContactPoint"> 
          <list itemprop="address" itemscope itemtype="schema.org/PostalAddress"> 
              <li class='none' itemprop="streetAddress">5 Camdon Flats, 58 Gordon Road, Morningside</li> 
              <li class='none' itemprop="addressLocality">Durban</li> 
              <li class='none' itemprop="postalCode">4001</li> 
              <li class='none' itemprop="addressCountry">South Africa</li> 
          </list>
        </div>
        </td>
      </tr>
       <tr>
        <td valign="top">
          <b>Mukti Yoga @ The Breathing Space</b>
          <div itemprop="address" itemscope itemtype="http://schema.org/ContactPoint"> 
            <list itemscope itemtype="schema.org/PostalAddress"> 
            <li class='none' itemprop="streetAddress">98 Bulwer Road, Glenwood</li> 
            <li class='none' itemprop="addressLocality">Durban</li> 
            <li class='none' itemprop="postalCode">4001</li> 
            <li class='none' itemprop="addressCountry">South Africa</li> 
            </list>
        </div>
        </td>
        <td valign="top"></td>
      </tr>
    </table>

    <p>
        For further information, you can follow us on <a itemprop="url" class="underline" target="_blank" href="http://baguakungfu.wordpress.com/"> our blog</a>.
    </p>
  </div> -->

  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis quam cursus, suscipit nunc ac, bibendum diam. Suspendisse potenti. Proin pretium quam eget ipsum ornare, vitae suscipit quam bibendum. Nunc tristique pellentesque ipsum. Aenean in pharetra turpis. Donec ipsum eros, fringilla nec nisi nec, ullamcorper fringilla nunc. Praesent vitae pharetra odio, quis consectetur magna. Suspendisse eget tincidunt erat. Quisque sodales pellentesque consectetur. Nulla auctor lobortis erat sed vehicula.
</p>
<p>
  Sed leo nunc, tempus vestibulum nulla ut, faucibus vehicula augue. Quisque faucibus in nisi at semper. Suspendisse potenti. Donec venenatis tellus libero, quis ornare neque faucibus sit amet. Curabitur molestie nunc ligula, sit amet scelerisque arcu efficitur ac. Integer porta nunc vitae ipsum sollicitudin rhoncus. Integer maximus risus in velit luctus scelerisque. Praesent quis risus ut arcu dictum tincidunt. In ultricies quis arcu id ornare. Pellentesque ipsum urna, aliquet at diam finibus, ultrices dignissim libero. Nunc commodo leo sagittis nisi placerat congue. Donec iaculis, elit et tincidunt efficitur, felis nisl porta ex, et aliquam lacus eros et leo. Duis eu odio mattis, egestas elit at, scelerisque ex. Pellentesque lacinia efficitur ipsum, sit amet accumsan ipsum consequat sed. Donec quis pretium urna, at tincidunt magna.
</p>