<br />
<section>
    <div class="container">
        <div class="col-sm-12 col-md-12" style="padding:5px">
            <div class="col-sm-12 col-md-12" style="background-color:#999; color:#fff">
                <h5>Contact Details</h5>
            </div>
            <div class="col-sm-12 col-md-12" style="background-color:#ccc">
                <div class="col-sm-6 col-md-6">
                    <b>Yoga</h4></b>
                </div>
                <div class="col-sm-6 col-md-6">
                    <b>Martial Arts</b>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12" style="padding:5px">
            <div class="col-sm-6 col-md-6">Tel: +27 82 572 9873 (Nicky)</div>
            <div class="col-sm-6 col-md-6">Tel: +27 82 501 7190 (Paul)</div>
        </div>
        <div class="col-sm-12 col-md-12" style="padding:5px">
            <div class="col-sm-6 col-md-6">Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for yoga">movement@mukti.co.za</a></div>
            <div class="col-sm-6 col-md-6">Email: <a href="mailto:movement@mukti.co.za?subject=Enquiry for martial arts">movement@mukti.co.za</a></div>
        </div>
    </div>