<section class="hgroup">
    <div class="container">
        <h1>Teacher Biography</h1>
        <h2>Dr. Nicky van der Hulst is a Chiropractor, Homeopath and Yoga teacher. She has a keen interest in the therapeutic benefits of movement and gentle preventative care on health and wellbeing.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p>
                    Nicky teaches Hatha, Vinyasa, Astanga and Yin Yoga. Her teaching has a strong anatomical and physiological approach grounded in a deep understanding of the philosophy of yoga. Dr. Nicky van der Hulst practices from 5 Dover road, Westville. Telephone number 031 266 6337. For all yoga related queries email her at movement@mukti.co.za
                </p>
                <blockquote>
                    <p>
                        Nicky brings together her love of teaching, therapeutic movement and holistic therapies in the practice and facilitation of her work. Also a mother to a beautiful baby, Nicky has a special interest in the care of mothers and babies in the most gentle, safest and responsible way.
                    </p>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
