<section class="hgroup">
    <div class="container">
        <h1>Teacher Biography</h1>
        <h2>Paul has been studying martial arts for over 20 years and focusses primarily upon the study of Yi style Bagua Zhang.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p>
                    Paul began studying martial arts since the mid 1990's, beginning with Eskrima under the guidance of Guro Jan Nelson. After moving to the U.K in 1998, he began studying Bagua Zhang with Mr Alex Kozma. After Mr Kozma left London, Paul continued his studies under the guidance of Master Paul Whitrod. With Master Paul, the primary focus was upon the fundamental fighting aspects of Sun style Bagua and Xing Yi, Muay Thai and Kalaripayattu. 
                </p>
                <p>
                    In 2005, Paul moved to Thailand in an attempt to deepen his knowledge of Thai martial arts. From 2005 until 2010, Paul devoted his time to learning Muay Thai Boran and Sport Muay Thai under the guidance of Kru Jitti Damriram and Ajarn Pramote Mesamana. Outside of this, he continued his study of Bagua, training regularly with a small group in Lumpinee Park. In 2010, Paul returned to his native South Africa and began studying Yin style Bagua Zhang. He now regularly travels to China to study under the guidance of masters He Jinbao and Mat Bild. He Jinbao is the current lineage head of Yin style Bagua Zhang.
                </p>
            </div>
        </div>
    </div>
</section>
