<br />
<section>
    <div class="container">
      <div class="col-sm-12 col-md-12" style="padding:5px">
        <div class="col-sm-12 col-md-12" style="background-color:#999; color:#fff">
          <h3>Class Schedule</h3>
        </div>
        <div class="col-sm-12 col-md-12" style="background-color:#ccc">
          <div class="col-sm-4 col-md-4"><h4>System</h4></div>
          <div class="col-sm-2 col-md-2"><h4>Mon</h4></div>
          <div class="col-sm-2 col-md-2"><h4>Tue</h4></div>
          <div class="col-sm-2 col-md-2"><h4>Wed</h4></div>
          <div class="col-sm-2 col-md-2"><h4>Thu</h4></div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4"><h4>Hatha</h4></div>
        <div class="col-sm-2 col-md-2"><h4>17:00 - 18:00</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4"><h4>Vinyasa</h4></div>
        <div class="col-sm-2 col-md-2"><h4>18:00 - 19:15</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4"><h4>Astanga</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2"><h4>18:00 - 19:00</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
      </div>     
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4"><h4>Muay Thai</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2"><h4>17:30 - 19:00</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
      </div>   
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4"><h4>Bagua Zhang</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2"><h4>17:30 - 19:00</h4></div>
      </div>    
      <div class="col-sm-12 col-md-12">
        <div class="col-sm-4 col-md-4"><h4>Xing Yi</h4></div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
        <div class="col-sm-2 col-md-2"><h4>17:30 - 19:00</h4></div>
      </div>                  
      <div class="col-sm-12 col-md-12" style="padding:5px">
        <div class="col-sm-12 col-md-12" style="background-color:#999; color:#fff">
          <h3>Class Costs</h3>
        </div>
        <div class="col-sm-12 col-md-12" style="background-color:#ccc">
          <div class="col-sm-3 col-md-3"><h4>Drop In</h4></div>
          <div class="col-sm-3 col-md-3"><h4>1 x Week</h4></div>
          <div class="col-sm-3 col-md-3"><h4>2 x Week</h4></div>
          <div class="col-sm-3 col-md-3"><h4>Private</h4></div>
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="col-sm-3 col-md-3"><h4>R80</h4></div>
          <div class="col-sm-3 col-md-3"><h4>R300 per month</h4></div>
          <div class="col-sm-3 col-md-3"><h4>R500 per oneth</h4></div>
          <div class="col-sm-3 col-md-3"><h4>Available on request</h4></div>
        </div> 
      </div>
      <div class="col-sm-12 col-md-12">
          <h3>All classes are held at 502 Esther Roberts Road (formerly known as Frere Road), Glenwood, Durban. </h3>
        </div>
    </div>
</section>
