<!-- Second Band (Image Left with Text) -->
<div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/vajra/vajra11.jpg" width="1000" height="300" alt="Vajra Boxing">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/vajra/vajra8.jpg" width="150" height="203" alt="Vajra boxing">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Think lightly of yourself and deeply of the world</b> - Miyamoto Musashi</h5>
      </p>       
      <p>
        <div class="container slider">
          <!-- enumerate all photos -->
          <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />

          <!-- prev / next controls -->
          <a class="arrow prev" href="#/gallery" ng-click="showPrev()"></a>
          <a class="arrow next" href="#/gallery" ng-click="showNext()"></a>

          <!-- extra navigation controls -->
          <ul class="nav">
            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
              <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
            </li>
          </ul>
        </div>
      </p> 
    </div>
  </div>
</div> 
