    <br />
    <section class="features_teasers_wrapper">
      <div class="container">
        <div class="row">
          <div class="feature_teaser col-sm-6 col-md-6"> 
            <img alt="Movement: Yoga, Kung Fu, Muay Thai" src="assets/images/bagua.jpg" width="111" height="111" border="0">
            <h3>Movement</h3>
            <p>
              Our mission  is to provide systematic instruction to help motivated individuals to attain an understanding of their movement potential through the vehicles of Yoga and Yin style Bagua Zhang Kung Fu. 
            </p>
          </div>
          <div class="feature_teaser col-sm-6 col-md-6"> 
            <img alt="Medicine: Chiropractic, Homeopathy" src="assets/images/medicine.jpg" width="111" height="111" border="0">
            <h3>Medicine</h3>
            <p>
               We provide an integrated approach to healing which uses the methodologies of Chiropractic and Homeopathy. Where applicable, functional movement routines are prescribed for therapeutic benefits.
            </p>
          </div>
        </div>
      </div>
    </section>