<!-- Second Band (Image Left with Text) -->
<div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/yoga/yoga9.jpg" width="1000" height="300" alt="Yoga">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/bagua/bagua3.jpg" width="150" height="146" alt="Bagua Zhang Kung Fu">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Everything flows, nothing stands still - </b>Heraclitus of Ephesus</b></h5>
      </p>       
      <p>
        We are really sorry but the page that you have requested is no longer available.  It seems that the page you were trying to reach doesn't exist anymore. Why not try and start again from the <a href="#/home">home page</a>. Please contact us at <a href="mailto:webmaster@mukti.co.za" itemprop="url">webmaster@mukti.co.za</a> should you need any further assistance.
      </p> 
    </div>
  </div>
</div> 

