<!-- Second Band (Image Left with Text) -->
<div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/vajra/vajra11.jpg" width="1000" height="300" alt="Vajra Boxing">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/vajra/vajra8.jpg" width="150" height="203" alt="Vajra boxing">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Think lightly of yourself and deeply of the world</b> - Miyamoto Musashi</h5>
      </p>       
      <p>
        Vajra Muay is a martial art which seeks to train the practitioner to use his or her entire body as an attacking surface. In doing this, fundamental striking methods for the fist, open palm, forearm, elbow, shoulder, foot, shin, knee and hip are taught. Employing devastating striking, bone breaking joint locks and throws, this practical martial art is fast, efficient, resolute and deadly.
      </p> 
    </div>
  </div>
</div> 
<div class="row">
  <div class="large-12 columns">
   <table>
      <tr>
        <th scope="column">What does the training entail?</th>
        <th scope="column">What are the benefits of this training?</th>
      </tr>
      <tr>
        <td valign="top">Basic Stepping and Stance Training.</td>
        <td valign="top">Powerful self defence</td>
      </tr>
      <tr>
        <td valign="top" scope="row">Fundamental Whole-Body Strikes (fist, open palm, forearm, elbow, shoulder, foot, shin, knee and hip strikes).</td>
        <td valign="top" scope="row">Development of a strong fighting spirit</td>
      </tr>
      <tr>
        <td valign="top">Fundamental joint locking and throwing.</td>
        <td valign="top">The ability to move freely, using the entire body as a weapon</td>
      </tr>
      <tr>
        <td valign="top" scope="row">Strengthening and conditioning exercises</td>
        <td valign="top" scope="row">Confidence and focus</td>
      </tr>
    </table>
    <p>
     Vajra Muay classes are taught on a private basis from the Morningside studio and cost R200 for 1.5 hours. Please <a href="#/contact" class="underline" itemprop="url">contact us</a> for more details. You can also follow us on <a href="http://baguakungfu.wordpress.com/" itemprop="url" class="underline" target="_blank" > our blog</a>
    </p>   
  </div>
</div>
