<!-- Second Band (Image Left with Text) -->
<div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/landscape/landscape5.jpg" width="1000" height="300" alt="Yoga">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/yoga/yoga3.jpg" width="150" height="100" alt="Yoga">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5>
          <b>Yoga works on your conscience. Yoga works on your consciousness. Yoga works on your intelligence. Yoga works on your senses. Yoga works on your flesh. Yoga works on your organs of perception</b> - BKS Iyengar, The Tree of Yoga.
         </h5>
      </p>       
      <p>
        Vinyasa yoga, in which movement is synchronized to the breath, is a term that covers a broad range of yoga classes. This style is sometimes also called flow yoga, because of the smooth way that the poses run together and become like a dance. The breath becomes an important component because the teacher will instruct you to move from one pose to the next on an inhale or an exhale. Vinyasa is literally means "connection," between movement and breath.
      </p> 
    </div>
  </div>
</div> 
<div class="row">
  <div class="large-12 columns">
    <p>
     Ashtanga yoga is extremely popular and inspires fierce loyalty in its students. This vigorous, athletic style of practice appeals to those who like a sense of order and who like to do things independently. Ashtanga yoga, also known as “Power yoga” uses a sequence of asanas that are linked with the breath. It generates heat which facilitates flexibility and gives a great sense of wellbeing. The vinyasa or link through flowing movement done between asanas, also gives an uninterrupted continuity or a “moving meditation” as it were.
    </p>
    <p>
      Through the practice of Ashtanga and Vinyasa yoga we gain control of the senses and a deep awareness of our selves. By maintaining this discipline with regularity one acquires steadiness of body and mind.
    </p>     
    <p>
        Classes are all held in Durban, South Africa. Please find details below. 
        <list>
            <li>
                Wednesdays Ashtanga class @ The Breathing Space: R240 for a 4 class card or R420 for an 8 class card.
            </li>
            <li>
                Tuesdays Hatha class @ Positive Health: R240 per month.
            </li>
        </list> 
    </p>
    <p>
        <b>Private and corporate classes are also available on request.</b>
    </p>
    <p> 
        Please <a href="contact.html" class="underline" itemprop="url">contact us</a> for more details.  You can follow us on <a href="http://baguakungfu.wordpress.com/" itemprop="url" class="underline" target="_blank" > our blog</a>
    </p>
  
  </div>
</div>
