<!-- Second Band (Image Left with Text) -->
   <div class="row">
    <div class="large-12 columns">
      <img src="./assets/img/yoga/yoga8.jpg" width="1000" height="300" alt="Yoga">
      <hr>
    </div>
  </div>
  <div class="row">    
    <div class="large-12 columns">
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>It is difficult to understand the universe if you only study one planet</b> - Miyamoto Musashi</h5>
      </p>  
      <table>
              <th colspan="5">
                  SCHEDULE
              </th>
              <tr>
                  <td scope="column"></td>
                  <td scope="column">MON</td>
                  <td scope="column">TUE</td>
                  <td scope="column">WED</td>
                  <td scope="column">THU</td>
              </tr>
              <tr>
                  <td>ASHTANGA</td>
                  <td></td>
                  <td></td>
                  <td>
                      Breathing Space<br /> 6 - 7:20 pm
                  </td>
                  <td></td>
              </tr>  
              <tr>
                  <td scope="row">HATHA</td>
                  <td scope="row"></td>
                  <td scope="row">
                      Positive Health<br />6 - 7 am
                  </td scope="row">
                  <td scope="row"></td>                  
                  <td scope="row"></td>                  
              </tr>                            
              <tr>
                  <td>VINYASA</td>
                  <td>
                      Breathing Space<br />5:45 - 6:45 pm
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>   
              <tr>
                  <td scope="row">BAGUA KUNG FU</td>
                  <td scope="row">Private class</td>
                  <td scope="row">Private class</td>
                  <td scope="row">Private class</td>
                  <td scope="row">Gordon Road<br />5:00 - 7:00 pm</td>
              </tr>
              <!-- <tr>
                  <td>VAJRA MUAY</td>
                  <td>Private class</td>
                  <td>Private class</td>
                  <td>Private class</td>
                  <td>Private class</td>
              </tr> -->
          </table> 
    </div>
  </div>
 