<b class="text-warning">CONTACT DETAILS</b> 

	<table class="table table-striped table-hover ">
	<thead></thead>
	<tbody>
		<tr>
			<td>Email: </td>
			<td><a href="mailto:movement@mukti.co.za">movement@mukti.co.za</a></td>
		</tr>
		<tr>
			<td>Cellular Phone: </td>
			<td>082 501 7190</td>
		</tr>
		<tr>
			<td>Home Phone: </td>
			<td>031 312 3721</td>
		</tr>
		<tr>
			<td>Address: </td>
			<td>
				5 Camdon Flats<br />
				58 Gordon Road<br />
				Morningside<br />
				Durban<br />
				4001
			</td>
		</tr>
	</tbody>
	</table> 

