	<b class="text-warning">WHAT IS BAGUA ZHANG?</b> 
	<div class="well">
		<p> 
			Ba Gua Zhang is a Taoist martial art in which one seeks to understand the universal principle of change through the intentional interplay of movement and breath. Deeply rooted in the philosophy of the I Ching, Bagua teaches one to flow with change and find a place of balanced stillness whenever transformation occurs. As soft as Tai-Chi, Ba Gua has a more aerobic quality which changes continuously and rapidly in ever more complex spiralling motions.

			This art creates a tremendously strong and supple body which contains an infinite variety of changes in movement, energy and angle. The ultimate aim of the practice is to learn to live as part of the change itself, abandoning restrictive movements, sensations and thoughts. This allows one to merge with that which never changes, the true nature of the mind.
		</p>
	</div>

	<b class="text-warning">WHAT IS ZHAN ZHUANG CHI GUNG?</b> 
	<div class="well">
		<p> 
			Zhan Zhuang or Stake Standing is a very powerful standing Chi Gung / postural meditation which both builds and strengthens ones internal energy. Dedicated practice of this method will build up a structure (posture) in our body from which whole body force can be produced and ultimately released. Although deceptively simple on the outside, Zhan Zhuang is a deeply profound practice.
		</p>
	</div>

	<b class="text-warning">WHAT IS CIRCLE WALKING?</b> 
	<div class="well">
		<p> 
			Circle walking moving meditation is the practice of maintaining intention, composure and balance whilst moving. Whereas Buddhist meditation is static and inwardly focussed, the Daoist circle walking practice is a moving meditation with the intention focused outward. In this practice, the practitioner seeks to merge with the natural world. Circle walking is the logical progression from Zhan Zhuang Chi Gung. In Zhan Zhuang, one seeks movement in stillness whereas in circle walking, one seeks stillness in movement. Both practices exist in a mutually beneficial relationship. As one walks around the centre of the circle, periodically changing direction, the postural rootedness of Zhan Zhuang is maintained.
		</p>
	</div>

	<b class="text-warning">WHAT ARE THE BENEFITS OF PRACTICING BAGUA ZHANG?</b> 
	<div class="well">
		<p> 
			The benefits of this training method includes:
			<list>				
				<li>A superlative sense of balance</li>
				<li>The ability to rapidly change both direction and energy</li>
				<li>Enhanced peripheral awareness</li>
				<li>An understanding of how to redirect force</li>
				<li>Learning of angles, fulcrums and energy changes</li>
				<li>Unpredictable body motion</li>
				<li>The alleviation and reversal of arthritic conditions</li>
				<li>The ability to go with the flow and adapt to changing conditions and environments</li>
			</list>
		</p>
	</div>

	<b class="text-warning">WHAT DOES THE SYSTEM CONTAIN?</b> 
	<div class="well">
		<p> 
			This system of Ba Gua Zhang contains the following basic training:
			<list>				
				<li>9 Chi Storing and Sensitivity exercises</li>
				<li>9 Zhan Zhuang Standing Chi Gung exercises</li>
				<li>3 Circle Walking moving meditation patterns</li>
				<li>56 animal movement sequences</li>
				<li>32 Striking Forms</li>
				<li>Weapons: Sword, single Sabre, double Sabre, Staff</li>
			</list>
		</p>
	</div>