<section class="hgroup">
    <div class="container">
        <h1>What is Chiropractic?</h1>
        <h2>Sed bibendum non diam ac bibendum. Cras vel venenatis velit. Nullam posuere varius tellus, ut posuere massa egestas a. Ut risus urna, lobortis vitae tincidunt sit amet, tincidunt eget ipsum. Vivamus auctor rutrum massa eu aliquam. Nam et sem lobortis, elementum urna id, fermentum libero. Duis aliquet purus sapien, rhoncus blandit ante pharetra volutpat. Mauris sed egestas quam, nec tempus lectus. Etiam neque ex, tempor vel metus sed, fermentum convallis neque. Vivamus a dignissim turpis. In placerat velit justo, vitae imperdiet ante luctus in.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <p>
                     Praesent ex sapien, volutpat eu tellus in, fringilla dictum urna. Nulla non odio posuere, gravida tortor ut, dapibus nisi. Pellentesque efficitur sagittis sapien, dignissim suscipit magna ultrices nec. Mauris tempor nunc eget ex facilisis hendrerit. Praesent iaculis turpis quis interdum faucibus. Donec ac molestie velit. Fusce blandit at libero ut aliquet.
                </p>
                <blockquote>
                    <p>
                         Praesent ex sapien, volutpat eu tellus in, fringilla dictum urna. Nulla non odio posuere, gravida tortor ut, dapibus nisi. Pellentesque efficitur sagittis sapien, dignissim suscipit magna ultrices nec. Mauris tempor nunc eget ex facilisis hendrerit. Praesent iaculis turpis quis interdum faucibus. Donec ac molestie velit. Fusce blandit at libero ut aliquet.
                    </p>
                    <small>Nulla non odio posuere</small>
                </blockquote>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_photo">
                        <figure style="background-image:url(assets/images/yoga4.jpg)"></figure>
                    </div>
                    <div class="service_details">
                        <h2 class="section_header skincolored"><b>Nulla non odio posuere</b><small>Nulla non odio posuere</small></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
