<section class="hgroup">
    <div class="container">
        <h1>What is Chiropractic and Homeopathy?</h1>
        <h2>Chiropractic and Homeopathy are holistic approaches to healthcare that focus on patient wellbeing. The aim of both therapies is overall improvement of the quality of life and health. The patients innate self-healing is encouraged.</h2>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p>
                     Chiropractors make use of spinal adjustments, manual therapies, rehabilitation implementation and patient education. Dr. van der Hulst has a keen interest in movement and manual therapy that has long term benefits for the patient. Chiropractic care for expectant moms and babies is also one of her great passions.
                </p>
                <blockquote>
                    <p>
                         Dr. van der Hulst is both a qualified Chiropractor and Homeopath. She treats patients holistically and encourages the use of therapies that intensify the body’s own healing mechanisms. Both Homeopathy and Chiropractic are free from side effects and are powerful preventative modalities that build better immune functions and reponses. She promotes an integrative approach to long term better health in the most gentle way. 
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
