<!-- Second Band (Image Left with Text) -->
<div class="row">
  <div class="large-12 columns">
    <img src="./assets/img/landscape/landscape2.jpg" width="1000" height="300" alt="Bagua Kung Fu">
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <img src="./assets/img/bagua/bagua5.jpg" width="150" height="150" alt="Bagua Zhang Kung Fu">
  </div>
  <div class="large-10 columns">
    <div class="row"> 
      <p>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <h5><b>Practice, practice...All is coming.</b>- Sri K. Pattabhi Jois</h5> 
      </p>       
      <p>
        Ba Gua Zhang Kung fu is a mind / body practice which embodies the principles of the I Ching. Although as soft as Tai-Chi, Ba Gua Kung Fu posseses a more aerobic quality which is imbued with continuous changes and rapidly spiralling complex motions. Being thoroughly grounded in the philosophy of the I Ching, this Kung Fu teaches one to flow with change and find a place of balance and stillness whenever transformation occurs.
       </p> 
    </div>
  </div>
</div> 
<div class="row">
  <div class="large-12 columns">
    <p>
      This art creates a tremendously strong yet supple body that possesses an infinite variety of changes in movement, energy and angle. By the awareness generated through the practice of this unique Kung Fu, one learns to comprehend the universal constant of change.
    </p>
    <table>
      <tr>
        <th scope="column" class="header">What does the training entail?</th>
        <th scope="column">What are the benefits of this training?</th>
      </tr>
      <tr>
        <td valign="top">Standing and moving Chi Gung/Qigong exercises.</td>
        <td valign="top">An improved sense of balance and enhanced peripheral awareness.</td>
      </tr>
      <tr>
        <td valign="top" scope="row">Circle Walking moving meditation.</td>
        <td valign="top" scope="row">The ability to quickly change both direction and energy.</td>
      </tr>
      <tr>
        <td valign="top">Animal forms and striking patterns.</td>
        <td valign="top">Improved self defence and an understanding of how angles, fulcrums and energy changes affect movement and combat.</td>
      </tr>
      <tr>
        <td valign="top" scope="row">Bagua weapons training</td>
        <td valign="top" scope="row">The ability to go with the flow and adapt to changing conditions and environments</td>
      </tr>
    </table>
    <p>
      A free Bagua Kung Fu class is held every Thursday from 5:00pm to 7:00pm. All other classes at the Morningside studio are private and cost R200 for 1.5 hours. Please <a href="#/contact" class="underline" itemprop="url">contact us</a> for more details.
    </p>
  </div>
</div>
